<ion-content>
	<div class="list card">

	  <div class="item item-body">
	  	<a href="#/alfabeto"><img class="full-image" src="imagens/abc.jpeg""></a>
	  </div>

	  <div class="item item-body">
	  	<a href="#/numerais"><img class="full-image" src="imagens/numeros.jpeg"></a>
	  </div>

	  <div class="item item-body">
	  	<a href="#/sinaisdainformatica"><img class="full-image" src="imagens/computador.jpeg"></a>
	  </div>

	</div>

	<!-- <div class="row">
	  <div class="col"><a href="#/alfabeto"><img src="imagens/abc.jpeg""></a></div>
	</div>
	<div class="row">
	  <div class="col"><a href="#/numerais"><img src="imagens/numeros.jpeg"></a></div>
	</div>
	<div class="row">
	  <div class="col"><a href="#/sinaisdainformatica"><img src="imagens/computador.jpeg"></a></div>
	</div>    

	</div> -->
</ion-content>